streamlit>=1.28.0
scikit-learn>=1.5.2
statsmodels>=0.14.4
pandas>=2.2.3
numpy>=1.26.4
matplotlib>=3.9.2
seaborn>=0.13.2
plotly>=5.24.1
requests>=2.32.3
python-dotenv>=1.0.1
websocket-client>=1.8.0
websockets>=13.1
xgboost>=2.1.2
psycopg2-binary>=2.9.10
